{% extends "layout.html" %}



{% block body %}
<link rel="stylesheet" href="/static/vendor/sweetalert/lib/sweet-alert.css" />
<link rel="stylesheet" href="/static/vendor/react-notifications/react-notifications.css"></link>

<style>

.control-label {
    padding-left:0px; 
    padding-right:0px;
    font-size:12px;
}

.table-button {
    width:100%;
    margin-bottom:5px;
    font-weight:300;
    font-family:'Open Sans';
}

.react-bs-container-body {
    overflow-y: visible;
    overflow-x: visible;
}

.react-bootstrap-table-page-btns-ul {
    margin-top:0px;
    float:right;
}


.react-bs-table table td {
    overflow:visible;
    overflow-y: visible;
    overflow-x: visible;
}

.table-button {
    width:100%;
    margin-bottom:5px;
    font-weight:300;
    font-family:'Open Sans';
}

.btn {
    font-weight:300;
    font-family: 'Open Sans';
}

.modal-header {
    padding:10px;
    padding-left:10px;  
}

.modal-title {
    font-size:24px;
}


.react-bs-container-body tr td {
    font-size:12px;
}


.modal-dialog {
    margin-top:50px;
}

</style>

<!-- Main Wrapper -->
<div id="wrapper">

    <div id="content">

        <div class="normalheader transition animated fadeIn" style="padding-top: 20px;">
            <div class="hpanel">
                <div class="panel-body">

                    <h2 class="font-light m-b-xs" style="font-family:Open Sans; font-weight:300">
                        Designer Portal
                    </h2>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-4">
                    <div class="hpanel stats">
                        <div class="panel-body h-200">
                            <div class="stats-title pull-left">
                                <h4>Designer Commissions</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="pe-7s-cash fa-4x"></i>
                            </div>
                            <div class="clearfix"></div>
                            <div class="m-t-xs">

                                <div class="row">
                                    <br />
                                    <div class="col-xs-12" style="margin-bottom:15px">
                                        <small>This is how much your designers are owed at the next payout period.</small>
                                    </div>

                                    <div class="col-xs-5">
                                        <small class="stat-label">Today</small>
                                        <h4>$230.00 </h4>
                                    </div>
                                    <div class="col-xs-7">
                                        <small class="stat-label">Last week</small>
                                        <h4>$798060.00 <i class="fa fa-level-up text-success"></i></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8" style="">
                    <div class="hpanel stats">
                        <div class="panel-body list" style="height:200px">
                            <div class="stats-title pull-left">
                                <h4>Designer Breakdown</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div id="designers-page"></div>
        </div>
        <br />
    </div>

</div>

<!-- Vendor scripts -->
<script src="/static/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="https://npmcdn.com/react@15.3.0/dist/react.js"></script>
<script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js"></script>
<script src="/static/js/browser.min.js"></script>

<!-- App scripts -->
<script src="/static/scripts/homer.js"></script>
<script src="/static/bundle/designers.js"></script>



</body>
</html>

{% endblock %}