{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="/static/vendor/lazyYT/lazyYT.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<style>
.modal-header {
	padding:10px;
	padding-left:10px;	
}

.modal-title {
	font-size:24px;
}


.react-bs-container-body tr td {
	font-size:12px;
}


.modal-dialog {
	margin-top:50px;
}

</style>
<!-- Main Wrapper -->
<div id="wrapper">
	<br />
	<div class="col-lg-12">
	   	<div class="hpanel">
	      	<div class="panel-body">
	         	<h2 class="font-light m-b-xs" style="margin-left:10px">Your Clients</h2>
	         	<small style="margin-left:10px">
	         		These are the clients that have signed you on to work with them!
	         	</small>
	        </div>
	   	</div>
	   	{% if clients|length == 0 %}
	     	<div class="row">
				<div class="col-lg-12">
					<div class="hpanel">
						<div class="panel-body">
							<p style="margin-bottom:0px">You have no clients currently.</p>
						</div>
					</div>
				</div>	         	
	     	</div>
	   	{% else %}
		   	{% for client in clients %}
	     	<div class="row">
				<div class="col-lg-3">
					<div class="hpanel contact-panel">
						<div class="panel-body">
							<h5 class="text-muted font-bold m-b-xs">
								Client: {{client.username}}<br>
								<small>
									Relationship Started on {{client.assigned_on}}
								</small>
							</h5>
							<hr>
							<div class="text-center">
								<a href="/va_assignments/{{client.username}}/"<button class="btn btn-sm btn-primary">VIEW ASSIGNMENTS</button></a>
							</div>
						</div>
					</div>
				</div>	         	
	     	</div>
	     	{% endfor %}
	    {% endif %}
	</div>
</div>

<!-- Vendor scripts -->
<script src="/static/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="/static/vendor/iCheck/icheck.min.js"></script>
<script src="/static/vendor/sparkline/index.js"></script>
<script type="text/javascript" src="/static/js/lazyYT.js"></script>


<!-- App scripts -->
<script src="/static/scripts/homer.js"></script>


</body>
</html>

{% endblock %}
