{% extends "layout.html" %}



{% block body %}
<link rel="stylesheet" href="/static/vendor/sweetalert/lib/sweet-alert.css" />
<script src="/static/vendor/sweetalert/lib/sweet-alert.min.js"></script>

<style>

    hr {
      margin-top:0px;
    }

    /* Loader 1 */
    /* Courtesy of Flat UI CSS Loaders: http://codepen.io/nodealpha/pen/WvLrva */
    .loader-1 {
      position: relative;
      width: 120px;
      height: 120px;
      display: inline-flex;
      background-color: transparent;
      border: 5px solid #ECEFF1;
      border-radius: 50%;
    }
    .loader-1:after {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      width: 110px;
      height: 110px;
      padding: 3px;
      border-width: 2px;
      border-style: solid;
      border-color: #7986CB transparent transparent transparent;
      border-radius: 50%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      animation: ringrotate .8s infinite ease-in-out;
      -webkit-animation: ringrotate .8s infinite ease-in-out;
    }
    /* #Loader 1 */

    /* Animation */
    @keyframes ringrotate {
      0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
      }
    }
    @-webkit-keyframes ringrotate {
      0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
      }
    }

    @keyframes pendulum {
      0% {
        transform: rotateZ(-20deg);
        -webkit-transform: rotateZ(-20deg);
      }
      100% {
        transform: rotateZ(20deg);
        -webkit-transform: rotateZ(20deg);
      }
    }
    @-webkit-keyframes pendulum {
      0% {
        transform: rotateZ(-20deg);
        -webkit-transform: rotateZ(-20deg);
      }
      100% {
        transform: rotateZ(20deg);
        -webkit-transform: rotateZ(20deg);
      }
    }
    /* #Animation */

</style>

<!-- Main Wrapper -->
<div id="wrapper">
    <div class="modal fade" id="loading-modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
     
              <div class="modal-body text-center">
                <br>
                <img src="/static/images/accelerlist.png" style="height:25px; margin-top:-8px; margin-right:10px;">           
                <h3>Loading Inventory...</h3>
            <div class="loader-1"></div>

              </div>
          </div>
        </div>
    </div>
    <div id="content">

        <div class="normalheader transition animated fadeIn">
            <div class="hpanel">
                <div class="panel-body">

                    <h2 class="font-light m-b-xs" style="font-family:Open Sans; font-weight:300; margin:0px">
                        Template Editor
                    </h2>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Template Targeting</a>
                          </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                          <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4 style="font-family:Open Sans; font-weight:300">Offers Based Targeting</h4>
                                    <hr />
                                    <div class="form-group form-inline" style="margin-bottom:5px">
                                      <select class="form-control input-sm" id="sel1" style="margin-right:5px">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                      </select>
                                      <label for="sel1" style="font-weight:300;">Maximum Number of Offers to Compete With</label>
                                    </div>
                                   <div class="form-group form-inline" style="margin-bottom:5px">
                                      <select class="form-control input-sm" id="sel1" style="margin-right:5px">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                      </select>
                                      <label style="font-weight:300;">Reprice <b>New</b> items only when there are at least this many <b>New</b> Offers</label>
                                    </div>
                                   <div class="form-group form-inline" style="margin-bottom:5px">
                                      <select class="form-control input-sm" id="sel1" style="margin-right:5px">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                      </select>
                                      <label style="font-weight:300;">Reprice <b>Used</b> items only when there are at least this many <b>Used</b> Offers</label>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label for="name" class="col-lg-7" style="margin-top:5px; padding-left:0px; padding-right:0px; font-weight:300">Default Price when there are too few offers:</label>
                                        <div class="col-lg-5" style="padding-left:0px;">
                                            <div class="input-group input-group-sm" style="margin-bottom:7px">
                                              <span class="input-group-addon">
                                                  <i class="fa fa-dollar"></i>
                                              </span>
                                              <input type="text" class="form-control input-sm float-only" name="default-price" id="min-price" style="width:50%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h4 style="font-family:Open Sans; font-weight:300">Condition Based Targeting</h4>
                                    <hr />
                                    <div class="checkbox">
                                      <label><input type="checkbox" value="">Compare <b>New</b> offers only against other <b>New</b> Offers</label>
                                    </div>
                                    <div class="checkbox">
                                      <label><input type="checkbox" value="">Compare <b>Used</b> offers only against other <b>Used</b> Offers</label>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            Guard Rails</a>
                          </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-5">
                                      <h4 style="font-family:Open Sans; font-weight:300">Min / Max Prices</h4>
                                      <hr />
                                      <div class="form-group">
                                        <label for="name" class="col-lg-3" style="margin-top:5px; padding-left:0px; padding-right:0px; font-weight:300">Min Price:</label>
                                          <div class="col-lg-9" style="padding-left:0px;">
                                            <div class="input-group input-group-sm" style="margin-bottom:7px">
                                              <span class="input-group-addon">
                                                  <i class="fa fa-dollar"></i>
                                              </span>
                                              <input type="text" class="form-control input-sm float-only" name="min-price" id="min-price" style="width:50%;">
                                            </div>

                                          </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="name" class="col-lg-3" style="margin-top:5px; padding-left:0px; padding-right:0px; font-weight:300">Max Price:</label>
                                          <div class="col-lg-9" style="padding-left:0px;">
                                            <div class="input-group input-group-sm" style="margin-bottom:7px">
                                              <span class="input-group-addon">
                                                  <i class="fa fa-dollar"></i>
                                              </span>
                                              <input type="text" class="form-control input-sm float-only" name="max-price" id="max-price" style="width:50%;">
                                            </div>
                                          </div>
                                      </div>
                                      <div class="checkbox">
                                        <label><input type="checkbox" value="">Default to min if suggested price is below min</label>
                                      </div>
                                      <div class="checkbox">
                                        <label><input type="checkbox" value="">Default to max if suggested price is above max</label>
                                      </div>
                                </div>
                                <div class="col-lg-7">
                                    <h4 style="font-family:Open Sans; font-weight:300">Price Drop / Spike Management</h4>
                                    <hr />
                                    <div class="row">
                                      <div class="form-group">
                                          <label for="name" class="col-lg-5" style="font-weight:300">Don't Reprice if  Price <strong>Drops By More Than</strong>: </label>
                                          <div class="col-lg-2" style="padding-left:0px">
                                              <div class="input-group input-group-sm" style="margin-bottom:7px">
                                                <input type="text" class="form-control input-sm float-only" name="price-drop-percent" id="price-drop-percent">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-percent"></i>
                                                </span>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" >
                                            <label for="name" class="col-lg-5" style="font-weight:300">Don't Reprice if  Price <strong>Increases By More Than</strong>: </label>
                                            <div class="col-lg-2" style="padding-left:0px;">
                                                <div class="input-group input-group-sm" style="margin-bottom:7px">
                                                  <input type="text" class="form-control input-sm float-only" name="price-increase-percent" id="price-increase-percent">
                                                  <span class="input-group-addon">
                                                      <i class="fa fa-percent"></i>
                                                  </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                      <div class="checkbox" style="padding-left:15px">
                                        <label><input type="checkbox" value="">Only reprice if the price goes up</label>
                                      </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            Exclusions & Inclusions</a>
                          </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                          <div class="panel-body">
                              <div class="row">
                                <div class="col-lg-8">
                                    <h4 style="font-family:Open Sans; font-weight:300">Offer Based Exclusions</h4>
                                    <hr />
                                    <div class="row">
                                      <div class="col-lg-6">
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="">Exclude <strong>acceptable</strong> competing offers</label>
                                          </div>
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="">Exclude <strong>Just Launched</strong> competing offers</label>
                                          </div>
                                          <div class="form-group" >
                                              <label for="name" class="col-lg-6" style="margin-top:-2.5px; padding-left:0px; padding-right:0px; font-weight:300">Exclude Offers with <strong>Seller Rating Below:</strong></label>

                                              <div class="col-lg-6">
                                                  <div class="input-group input-group-sm" style="margin-bottom:7px">
                                                    <input type="text" class="form-control input-sm float-only" name="price-increase-percent" id="price-increase-percent">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-percent"></i>
                                                    </span>
                                                  </div>
                                              </div>

                                          </div>
                                      </div>
                                      <div class="col-lg-6" style="padding-top:10px">
                                        <div class="form-group">
                                          <label style="padding-left:0px; font-weight:300">Sellers To <strong>Exclude</strong> (comma separated list):</label>
                                          <textarea class="form-control"></textarea>
                                        </div>
                                      </div>
                                    </div>


                                </div>
                                <div class="col-lg-4">
                                    <h4 style="font-family:Open Sans; font-weight:300">Item Based Exclusions</h4>
                                    <hr />
                                    <div class="form-group" style="padding-top:10px" >
                                        <label for="name" class="col-lg-8" style="margin-top:-1px; padding-left:0px; font-weight:300">Exclude Items with <strong>Sales Rank Above:</strong></label>

                                        <div class="col-lg-4">
                                            <input type="text" class="form-control input-sm" name="name" id="name">
                                        </div>

                                    </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            Pricing Strategy</a>
                          </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                          <div class="panel-body">
                                <div class="col-lg-6" style="padding:0px">
                                    <h4 style="font-family:Open Sans; font-weight:300">Regular Repricing Strategy</h4>
                                    <hr />
                                    <div class="form-group form-inline" style="margin-bottom:5px">
                                      <label for="sel1" style="font-weight:300;">Compete against the </label>

                                      <select class="form-control input-sm" id="sel1">
                                        <option>lowest possible competing offer</option>
                                        <option>lowest competing offer with same condition</option>
                                        <option>lowest competing offer with same condition or better</option>
                                      </select>                                  

                                    </div>
                                    <br />
                                    <div class="form-group form-inline" style="margin-bottom:5px">
                                      <label for="sel1" style="font-weight:300;">For the offer you are competing against, we should reprice  </label>

                                      <input type="text" class="form-control input-sm" value="0.00">

                                      <select class="form-control input-sm" id="sel1">
                                        <option>$</option>
                                        <option>%</option>
                                      </select>
                                      <select class="form-control input-sm" id="sel1" style="margin-right:5px">
                                        <option>above</option>
                                        <option>below</option>
                                      </select>                                      
                                      <label for="sel1" style="font-weight:300;">the competing offer.</label> 
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h4 style="font-family:Open Sans; font-weight:300">Strategy Vs. Amazon/Featured Merchants</h4>
                                    <hr />
                                    <div class="form-group form-inline" style="margin-bottom:5px">
                                      <label for="sel1" style="font-weight:300;">If the competing offer is from a featured merchant or Amazon, we should reprice </label>

                                      <input type="text" class="form-control input-sm" value="0.00">

                                      <select class="form-control input-sm" id="sel1">
                                        <option>$</option>
                                        <option>%</option>
                                      </select>
                                      <select class="form-control input-sm" id="sel1" style="margin-right:5px">
                                        <option>above</option>
                                        <option>below</option>
                                      </select>                                      
                                      <label for="sel1" style="font-weight:300;">the competing offer.</label> 
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                            Channel Specific Settings</a>
                          </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                          <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                      <h4 style="font-family:Open Sans; font-weight:300">FBA Settings</h4>
                                      <hr />
                                        <div class="form-group form-inline" style="margin-bottom:5px;">
                                          <label for="sel1" style="font-weight:300;">Compare your FBA offers against</label>

                                          <select class="form-control input-sm" id="sel1">
                                            <option>Both FBA and MF offers</option>
                                            <option>Only FBA offers</option>
                                          </select>                                  
                                        </div>
                                      
                                </div>
                                <div class="col-lg-6">
                                    <h4 style="font-family:Open Sans; font-weight:300">MF Settings</h4>
                                    <hr />
                                    <div class="row">
                                        <div class="form-group form-inline" style="margin-bottom:5px; padding-left:15px">
                                          <label for="sel1" style="font-weight:300;">Compare your MF offers against</label>

                                          <select class="form-control input-sm" id="sel1">
                                            <option>Both FBA and MF offers</option>
                                            <option>Only MF offers</option>
                                          </select>                                  
                                        </div>
                                        <div class="checkbox" style="padding-left:15px">
                                            <label><input type="checkbox" value="">Deduct shipping when competing against offers</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br />
                      <div class="pull-right">
                        <button class="btn btn-default btn-lg" style="font-weight:300; font-family: 'Open Sans'">RESTORE UNMODIFIED SETTINGS</button>

                        <button class="btn btn-info btn-lg" style="font-weight:300; font-family: 'Open Sans'">SAVE SETTINGS</button>
                      </div>
                      <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Vendor scripts -->
<script src="/static/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="https://npmcdn.com/react@15.3.0/dist/react.js"></script>
<script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js"></script>
<script src="/static/js/browser.min.js"></script>

<!-- App scripts -->
<script src="/static/scripts/homer.js"></script>



</body>
</html>

{% endblock %}