<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- styles -->
        <link rel="stylesheet" href="/static/styles/vendor.min.css"/>
        <link rel="stylesheet" href="/static/vendor/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="/static/styles/main.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

        <!-- Begin Inspectlet Embed Code -->
        <script type="text/javascript" id="inspectletjs">
          window.__insp = window.__insp || [];
          __insp.push(['wid', 1355144002]);
          (function () {
            function ldinsp() {
              if (typeof window.__inspld != "undefined") return;
              window.__inspld = 1;
              var insp = document.createElement('script');
              insp.type = 'text/javascript';
              insp.async = true;
              insp.id = "inspsync";
              insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js';
              var x = document.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(insp, x);
            };
            setTimeout(ldinsp, 500);
            document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
          })();
        </script>
        <!-- End Inspectlet Embed Code -->

        <!-- Intercom Integration Code -->
        <script>
          window.intercomSettings = {
            app_id: "zj7fd4cy"
          };
        </script>
        <script>(function () {
          var w = window;
          var ic = w.Intercom;
          if (typeof ic === "function") {
            ic('reattach_activator');
            ic('update', intercomSettings);
          } else {
            var d = document;
            var i = function () {
              i.c(arguments)
            };
            i.q = [];
            i.c = function (args) {
              i.q.push(args)
            };
            w.Intercom = i;

            function l() {
              var s = d.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              s.src = 'https://widget.intercom.io/widget/zj7fd4cy';
              var x = d.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(s, x);
            }

            if (w.attachEvent) {
              w.attachEvent('onload', l);
            } else {
              w.addEventListener('load', l, false);
            }
          }
        })()</script>
        <!-- End Intercom Integration Code -->
    </head>
    <body>
      <div class="main-form forgot-password">
        <div class="container">
          <div class="row">
            <div class="col-6 offset-md-3">
              <div class="logo"><img src="dist/img/logo2.svg" alt=""></div>
              <div class="f-card">
                <p class="title">Forgot your password?</p>
                <p class="subtitle">Forgot your password? Just need your email and we <br>
will send you next steps information there.</p>
                {% if not sent %}
                  <small>Please, enter your email in the box below:</small>
                {% endif %}
                {% if user_error %}
                  <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    User with this email not found
                  </div>
                  <br>
                {% endif %}
                {% if sent %}
                  <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    We've sent an email with instructions to your address
                  </div>
                  <br>
                  <small>You can close this page now</small>
                {% else %}
                  <form id="forgot_password_form" method="post">
                    <div class="f-container">
                      <label for="email">Your Email</label>
                      <div class="f-row">
                        <input type="email" name="email" id="email" placeholder="email" title="Please enter you email" required="" value="">
                        <i class="far fa-envelope"></i>
                      </div>
                      <p class="f-text">*The username OR email you used to sign up for MERCHLAB.</p>
                    </div>
                    <button class="button green">Change password</button>
                  </form>
                {% endif %}
                <a href="/register/" class="new-account">Don't have an account?</a>
                <a href="/register/" class="button dark">REGISTER</a>
                
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          2018 Copyright <span>MERCHLAB</span>.
        </div>
      </div>
      <!-- Scripts -->
      
    </body>
</html>
