<!doctype html>
<html class="no-js" lang="">

    <script type="text/javascript">
     (function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src='https://cdn.firstpromoter.com/fprom.js',t.onload=t.onreadystatechange=function(){var t=this.readyState;if(!t||"complete"==t||"loaded"==t)try{$FPROM.init("q3n65xoo",".merchlab.io")}catch(t){}};var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)})();</script>
     
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- styles -->
        <link rel="stylesheet" href="/static/styles/vendor.min.css"/>
        <link rel="stylesheet" href="/static/styles/main.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
      <section class="hero-section">
        <header class="mobile-header">
          <div class="row">
            <div class="col-10 offset-md-1">
              <div class="header-wrap">
                <div class="menu-open">
                  menu <img src="/static/images/menu.svg" alt="">
                </div>
                <div class="left"><a href="/"><img src="/static/images/MerchLab-logo-white.svg" alt="" class="logo"></a></div>
              </div>
            </div>
          </div>


          <div class="hidden-menu">
            <div class="close-btn">
              close <img src="/static/images/close.svg" alt="">
            </div>
            <div class="right">
              <ul>
                <li><a href="#">Features</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="#">Help</a></li>
              </ul>
              <a href="" class="button-header"><span><img src="/static/images/power-button-off.svg" alt=""></span>Login</a>
            </div>
          </div>
        </header>
        <header>
          <div class="container-fluid">
            <div class="row">
              <div class="col-10 offset-md-1">
                <div class="header-wrap">
                  <div class="left"><a href="/"><img src="/static/images/MerchLab-logo-white.svg" alt="" class="logo"></a></div>
                    <div class="right">
                      <ul>
                        <li><a href="#">Features</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="#">Help</a></li>
                      </ul>
                      <a href="/login/" class="button-header"><span><img src="/static/images/power-button-off.svg" alt=""></span>Login</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-5 offset-md-1 wow fadeIn">
            <h2 class="title wow fadeIn" data-wow-duration="1s">Smart Data<br class="br-mobile"> = <br class="br-mobile"><span class="c-green">More Sales</span></h2>
            <p class="main-text">
              When it comes to Amazon data, we know how to pull it, organize it and present it back to you in a way that's meaningful to your Merch empire.<br>
    We help you 10x your print-on-demand business and scale it quickly.  We put all the right data in your hands to grow exponentially.
            </p>
            <div class="user">
              <img src="/static/images/man.png" alt="">
              <div>
                <p class="name">Jeff H.</p>
                <p class="possition">MerchLab Data Engineer</p>
                <p class="user-text">We built MerchLab.io with the seller in mind.  <br>
                From the beginning we wanted to create an <br>
                environment for entrepreneurs that gave them <br>
                cutting edge data at their fingertips to make the <br>
                right design decisions 100% of the time.  </p>
              </div>
            </div>
            <p class="subtitle">
              I'm ready to see the best data possible to<br> <span class="c-green">10X</span> my Amazon print-on-demand business
            </p>
            <a href="/pricing" class="button-with-arrow">SHOW ME THE DATA <img src="/static/images/arrow_right_white.svg" alt=""></a>
          </div>
          <div class="col-6 block-with-image">
            <div class="block-with-image-wrap">
              <p><_Smart Data...</p>
              <img src="/static/images/pic1.png" alt="">
            </div>
          </div>
        </div>
      </div>
      </section>


      <section class="main-section-block">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6 block-with-image left green">
              <div class="block-with-image-wrap fadeIn wow"  data-wow-duration="0.4s">
                <p><_Quick Search…</p>
                <img src="/static/images/pic2.png" alt="">
              </div>
            </div>
            <div class="col-5">
              <p class="title fadeInDown wow" data-wow-delay="0.3s" data-wow-duration="0.7s">Research as easy as browsing <a href="https://www.amazon.com/"><br>Amazon.com</a> itself.</p>
              <div class="check-row fadeInDown wow" data-wow-delay="0.3s" data-wow-duration="0.7s">
                <img src="/static/images/check.svg" alt="">
                <div>
                  <p class="check-title">No clunky user interface</p>
                  <p class="check-text">Research shouldn't be painful.  We made it effortless with all the data front and center for you to analyse quickly</p>
                </div>
              </div>
              <div class="check-row fadeInDown wow" data-wow-delay="0.5s" data-wow-duration="0.7s">
                <img src="/static/images/check.svg" alt="">
                <div>
                  <p class="check-title">Eye popping data sets</p>
                  <p class="check-text">The most important data highlighted in bold colors to speed your analysis.</p>
                </div>
              </div>
              <div class="check-row fadeInDown wow" data-wow-delay="0.7s" data-wow-duration="0.7s">
                <img src="/static/images/check.svg" alt="">
                <div>
                  <p class="check-title">Familiar Form</p>
                  <p class="check-text">Browse and analyse all the data in familiar fashion just like on Amazon</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-card fadeIn wow" data-wow-delay="0.3s" data-wow-duration="1s">
          <div class="left">
            <p class="title">Guess what you should do?</p>
            <p class="subtitle">Stop guessing which niches<br>
will sell faster...</p>
          </div>
          <div class="right">
              <a href="/pricing" class="button-with-arrow">SHOW ME THE DATA <img src="/static/images/arrow_right_white.svg" alt=""></a>
          </div>
        </div>
      </section>

      <section class="main-section-block white design">
        <div class="container-fluid">
          <div class="row mobile-reverce">
            <div class="col-5 offset-md-1">
              <p class="title fadeIn wow"  data-wow-duration="0.4s">Designer Management<br> Ecosystem</p>
              <div class="check-row fadeIn wow"  data-wow-duration="0.4s" data-wow-delay="0.3s">
                <img src="/static/images/check.svg" alt="">
                <div>
                  <p class="check-title">BSR sales history</p>
                  <p class="check-text">Get invaluable sales rank history on every shirt in the database and isolate your winners to save time when designing. </p>
                </div>
              </div>
              <div class="user blue fadeIn wow"  data-wow-duration="0.4s" data-wow-delay="0.7s">
                <img src="/static/images/woman.png" alt="">
                <div>
                  <p class="name">Ora Mathis</p>
                  <a class="possition"><img src="/static/images/facebook.svg" alt="">Facebook review</a>
                  <p class="user-text">We built MerchLab.io with the seller in mind.  <br>
                  From the beginning we wanted to create an<br>
                  environment for entrepreneurs that... </p>
                  <p class="date">
                    November 30 at 6:47 pm
                  </p>
                </div>
            </div>
            </div>
            <div class="col-6 block-with-image green">
              <div class="block-with-image-wrap fadeIn wow"  data-wow-duration="0.4s">
                <p><_Design…</p>
                <img src="/static/images/pic4.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-card fadeIn wow" data-wow-delay="0.3s" data-wow-duration="1s">
          <div class="left">
            <p class="title">Guess what you should do?</p>
            <p class="subtitle">Stop guessing which niches<br>
will sell faster...</p>
          </div>
          <div class="right">
              <a href="/pricing" class="button-with-arrow">SHOW ME THE DATA <img src="/static/images/arrow_right_white.svg" alt=""></a>
          </div>
        </div>
      </section>



      <section class="main-section-block white without-bottom-row">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6 block-with-image left green">
              <div class="block-with-image-wrap fadeIn wow"  data-wow-duration="0.4s">
                <p><_Powerful…</p>
                <img src="/static/images/pic5.png" alt="">
              </div>
            </div>
            <div class="col-5">
              <p class="title fadeInDown wow" data-wow-delay="0.3s" data-wow-duration="0.7s">Powerful charts to help you plot<br>your next Merch course.</p>
              <div class="check-row fadeInDown wow" data-wow-delay="0.3s" data-wow-duration="0.7s">
                <img src="/static/images/check.svg" alt="">
                <div>
                  <p class="check-title">The right keywords at the right time</p>
                  <p class="check-text">Get access to the right keywords for each winning design so you can mirror the success</p>
                </div>
              </div>
              <div class="user blue fadeIn wow"  data-wow-duration="0.4s" data-wow-delay="0.7s">
                <img src="/static/images/woman.png" alt="">
                <div>
                  <p class="name">Ora Mathis</p>
                  <a class="possition"><img src="/static/images/facebook.svg" alt="">Facebook review</a>
                  <p class="user-text">We built MerchLab.io with the seller in mind.  <br>
                  From the beginning we wanted to create an<br>
                  environment for entrepreneurs that... </p>
                  <p class="date">
                    November 30 at 6:47 pm
                  </p>
                </div>
            </div>
            </div>
          </div>
        </div>
      </section>

      <section class="illustration">
        <div class="container-fluid">
          <div class="row">
            <div class="col-5 offset-md-1">
              <div class="left">
                <img class="ill-mobile" src="/static/images/pic6.png" alt="">
                <p class="time">Time left</p>
                <div class="time-row">
                  <div class="timer opacity">00</div>
                  <div id="minutes" class="timer"></div>
                  <div id="seconds" class="timer"></div>
                </div>
                <div class="time-under-row">
                  <div class="timer">hours</div>
                  <div class="timer">minutes</div>
                  <div class="timer">seconds</div>
                </div>
                <div class="subtitle">I’m ready to cancel my monthly fees and be a <span class="c-green">FREE</span> beta user on your next Merch solution</div>
                <a href="#" class="button-with-arrow">Let’s start <img src="/static/images/arrow_right_white.svg" alt=""></a>
              </div>
            </div>
            <div class="col-md-5">
              <img class="ill fadeIn wow"  data-wow-duration="0.4s" data-wow-delay="0.9s" src="/static/images/pic6.png" alt="">
            </div>
          </div>
        </div>
      </section>



      <section class="slider">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="text-row">
                <div class="slider-title fadeInUp wow"  data-wow-duration="0.4s" data-wow-delay="0.4s">What our users say…</div>
                <div class="slider-subtitle fadeInUp wow"  data-wow-duration="0.4s" data-wow-delay="0.7s"><_Best for you…</div>
              </div>
              <div class="owl-carousel owl-theme" id="owl-carousel2">
                <div class="item">
                  <div class="user blue slide">
                    <img src="/static/images/woman2.png" alt="">
                    <div>
                      <p class="name">Ora Mathis</p>
                      <a class="possition"><img src="/static/images/facebook.svg" alt="">Facebook review</a>
                      <p class="user-text">Trademark Tracker is so awesome!! Save so much time by making the research process easier, thank you! </p>
                      <p class="date">
                        November 30 at 6:47 pm
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="user blue slide">
                    <img src="/static/images/woman2.png" alt="">
                    <div>
                      <p class="name">Ora Mathis</p>
                      <a class="possition"><img src="/static/images/facebook.svg" alt="">Facebook review</a>
                      <p class="user-text">Trademark Tracker is so awesome!! Save so much time by making the research process easier, thank you! </p>
                      <p class="date">
                        November 30 at 6:47 pm
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="user blue slide">
                    <img src="/static/images/woman2.png" alt="">
                    <div>
                      <p class="name">Ora Mathis</p>
                      <a class="possition"><img src="/static/images/facebook.svg" alt="">Facebook review</a>
                      <p class="user-text">Trademark Tracker is so awesome!! Save so much time by making the research process easier, thank you! </p>
                      <p class="date">
                        November 30 at 6:47 pm
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="user blue slide">
                    <img src="/static/images/woman2.png" alt="">
                    <div>
                      <p class="name">Ora Mathis</p>
                      <a class="possition"><img src="/static/images/facebook.svg" alt="">Facebook review</a>
                      <p class="user-text">Trademark Tracker is so awesome!! Save so much time by making the research process easier, thank you! </p>
                      <p class="date">
                        November 30 at 6:47 pm
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="user blue slide">
                    <img src="/static/images/woman2.png" alt="">
                    <div>
                      <p class="name">Ora Mathis</p>
                      <a class="possition"><img src="/static/images/facebook.svg" alt="">Facebook review</a>
                      <p class="user-text">Trademark Tracker is so awesome!! Save so much time by making the research process easier, thank you! </p>
                      <p class="date">
                        November 30 at 6:47 pm
                      </p>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="user blue slide">
                    <img src="/static/images/woman2.png" alt="">
                    <div>
                      <p class="name">Ora Mathis</p>
                      <a class="possition"><img src="/static/images/facebook.svg" alt="">Facebook review</a>
                      <p class="user-text">Trademark Tracker is so awesome!! Save so much time by making the research process easier, thank you! </p>
                      <p class="date">
                        November 30 at 6:47 pm
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="main-section-block white">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6 block-with-image left green">
              <div class="block-with-image-wrap fadeIn wow"  data-wow-duration="0.4s" data-wow-delay="0.3s">
                <p><_Boosting……</p>
                <img src="/static/images/pic7.png" alt="">
              </div>
            </div>
            <div class="col-5">
              <p class="title fadeIn wow"  data-wow-duration="0.4s" data-wow-delay="0.5s">Let us tell you exactly what<br> keywords are boosting designs<br> to the top so you can steal them.</p>
              <div class="check-row fadeIn wow"  data-wow-duration="0.4s" data-wow-delay="0.7s">
                <img src="/static/images/check.svg" alt="">
                <div>
                  <p class="check-title">The right keywords at the right time</p>
                  <p class="check-text">Get access to the right keywords for each winning design so you can mirror the success</p>
                </div>
              </div>
              <div class="user blue fadeIn wow"  data-wow-duration="0.4s" data-wow-delay="0.9s">
                <img src="/static/images/man2.png" alt="">
                <div>
                  <p class="name">Paul Chang</p>
                  <a class="possition"><img src="/static/images/facebook.svg" alt="">Facebook review</a>
                  <p class="user-text">Wow! MerchLab researched inspired design<br>
uploaded (11/25/17) sold today (11/30/17) <br>
qty = 12 to one customer. Cha-ching!!</p>
                  <p class="date">
                    November 30 at 6:47 pm
                  </p>
                </div>
            </div>
            </div>
          </div>
        </div>
        <div class="bottom-card fadeIn wow"  data-wow-duration="0.4s" data-wow-delay="0.3s">
          <div class="left">
            <p class="title">Guess what you should do?</p>
            <p class="subtitle">We have the best Amazon<br> data for Merch, period!</p>
          </div>
          <div class="right">
              <a href="/pricing" class="button-with-arrow">SHOW ME THE DATA <img src="/static/images/arrow_right_white.svg" alt=""></a>
          </div>
        </div>
      </section>



      <section class="main-section-block without-bottom-row protection">
        <div class="container-fluid">
          <div class="row mobile-reverce">
            <div class="col-5 offset-md-1">
              <p class="title fadeIn wow"  data-wow-duration="0.4s" data-wow-delay="0.3s">Trademark protection built right<br> into our research tools.</p>
              <div class="check-row fadeIn wow"  data-wow-duration="0.4s" data-wow-delay="0.5s">
                <img src="/static/images/check.svg" alt="">
                <div>
                  <p class="check-title">Clothing & Apparel TM protection</p>
                  <p class="check-text">No need to open a second browser to double check trademarks.  We have an API powered TM tool built right into the design detail page</p>
                </div>
              </div>
              <div class="user blue on-blue fadeIn wow"  data-wow-duration="0.4s" data-wow-delay="0.7s">
                <img src="/static/images/woman2.png" alt="">
                <div>
                  <p class="name">Alta Thornton</p>
                  <a class="possition"><img src="/static/images/facebook.svg" alt="">Facebook review</a>
                  <p class="user-text">Trademark Tracker is so awesome!! Save so
                      much time by making the research process
                      easier, thank you! </p>
                  <p class="date">
                    November 30 at 6:47 pm
                  </p>
                </div>
            </div>
            </div>
            <div class="col-6 block-with-image green">
              <div class="block-with-image-wrap">
                <p class="fadeIn wow"  data-wow-duration="0.4s" data-wow-delay="0.5s"><_Protection…</p>
                <img src="/static/images/pic8.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>


      <footer>
        <div class="container-fluid">
          <div class="col-10 offset-md-1">
            <div class="footer-wrap">
              <div class="left">
                <a href="/"><img src="/static/images/MerchLab-logo-white.svg" alt="" class="logo"></a>
                <div class="right show-mobile">
                  <a href="#"><i class="fab fa-youtube youtube"></i></a>
                  <a href="#"><i class="fab fa-instagram instagram"></i></a>
                  <a href="#"><i class="fab fa-facebook-f facebook"></i></a>
                  <a href="#"><i class="fab fa-twitter twitter"></i></a>
                </div>
                <ul class="hide-mobile">
                  <li><a href="">Features</a></li>
                  <li><a href="/pricing">Pricing</a></li>
                  <li><a href="">Help</a></li>
                </ul>
              </div>
              <div class="right hide-mobile">
                <a href="#"><i class="fab fa-youtube youtube"></i></a>
                <a href="#"><i class="fab fa-instagram instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f facebook"></i></a>
                <a href="#"><i class="fab fa-twitter twitter"></i></a>
              </div>
              <ul class="show-mobile">
                <li><a href="">Features</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="">Help</a></li>
              </ul>
            </div>
            <div class="footer-wrap">
              <div class="left">All rights reserved. 2018</div>
              <div class="right">Made with love in USA</div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Scripts -->
      <script src="/static/scripts/vendor.min.js"></script>
      <script src="/static/scripts/main.js"></script>
      <script src="/static/scripts/counter.js"></script>
    </body>
</html>
