{% extends "layout.html" %}

{% block body %}

<link rel="stylesheet" href="/static/vendor/fooTable/css/footable.core.min.css" />
<link rel="stylesheet" href="/static/css/toastr.css">
<link rel="stylesheet" href="/static/css/react-bootstrap-table-all.min.css">
<link rel="stylesheet" href="/static/css/custom.css">

<style>
.pagination {
  margin-top:0px;
  float:right;
}

.modal-header {
  padding:10px;
  padding-left:10px;  
}

.modal-title {
  font-size:24px;
}

.react-bs-container-body tr td {
  font-size:12px;
}


.modal-dialog {
  margin-top:50px;
}


</style>

<!-- Main Wrapper -->
<div id="wrapper">

<div class="modal fade" id="loading-modal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
 
          <div class="modal-body text-center">
            <br>
            <img src="/static/images/accelerlist.png" style="height:25px; margin-top:-8px; margin-right:10px;">           
            <h3>Loading Inventory...</h3>
        <div class="loader-1"></div>

          </div>
      </div>
    </div>
  </div>
  <div id="inventory-table" class="content animate-panel"></div>
</div>

<!-- Vendor scripts -->
<script src="/static/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="/static/vendor/iCheck/icheck.min.js"></script>
<script src="/static/vendor/sparkline/index.js"></script>
<script src="/static/vendor/fooTable/dist/footable.all.min.js"></script>
<script type="text/javascript" src="http://www.labelwriter.com/software/dls/sdk/js/DYMO.Label.Framework.2.0.2.js"></script>

<!-- App scripts -->
<script src="/static/scripts/homer.js"></script>
<script src="/static/bundle/inventory_table.js"></script>

<link rel="stylesheet" href="/static/vendor/sweetalert/lib/sweet-alert.css" />
<script src="/static/vendor/sweetalert/lib/sweet-alert.min.js"></script>



</body>
</html>

{% endblock %}
