<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- styles -->
        <link rel="stylesheet" href="/static/styles/vendor.min.css"/>
        <link rel="stylesheet" href="/static/styles/main.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
      <div class="main-form">
        <div class="container">
          <div class="row">
            <div class="col-6 offset-md-3">
              <div class="logo"><img src="/static/images/logo2.svg" alt=""></div>
              <div class="f-card">
                <p class="title">Please login</p>
                <p class="subtitle">Just a few details away from amazing research<br>
                 data for Merch By Amazon!</p>
                 <div class="f-container">
                   <label for="#">Use your username or email</label>
                   <div class="f-row">
                     <input type="text" placeholder="username">
                     <i class="far fa-user-circle"></i>
                   </div>
                   <p class="f-text">*The username OR email you used to sign up for MERCHLAB.</p>
                 </div>
                 <div class="f-container">
                   <label for="#">Password</label>
                   <div class="f-row">
                     <input type="password" placeholder="password">
                     <i class="fas fa-lock"></i>
                   </div>
                 </div>
                 <div class="check">
                   <label class="container-check">remember me
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
                  <p class="check-text">
                    *if this is a private computer.
                  </p>
                 </div>
                 <a href="" class="button green">LOGIN</a>
                 <div class="forgot">
                   Forgot your password? <a href="">Change it here.</a>
                 </div>
                 <a href="" class="new-account">Don't have an account?</a>
                 <a href="" class="button dark">REGISTER</a>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          2018 Copyright <span>MERCHLAB</span>.
        </div>
      </div>
      <!-- Scripts -->
      <script src="/static/scripts/vendor.min.js"></script>
      <script src="/static/scripts/main.js"></script>
    </body>
</html>
