<!doctype html>
<html class="no-js" lang="">
    
    <script type="text/javascript">
     (function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src='https://cdn.firstpromoter.com/fprom.js',t.onload=t.onreadystatechange=function(){var t=this.readyState;if(!t||"complete"==t||"loaded"==t)try{$FPROM.init("q3n65xoo",".merchlab.io")}catch(t){}};var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)})();</script>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- styles -->
        <link rel="stylesheet" href="/static/styles/vendor.min.css"/>
        <link rel="stylesheet" href="/static/styles/main.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src='https://cdn.useproof.com/proof.js?acc=qLXZofT3HuZYPBbWrlORiRlTLcw2' async></script>
    </head>
    <body>
      <section class="pricing">
        <header class="mobile-header">
          <div class="row">
            <div class="col-10 offset-md-1">
              <div class="header-wrap">
                <div class="menu-open">
                  menu <img src="/static/images/menu.svg" alt="">
                </div>
                <div class="left"><a href="/"><img src="/static/images/MerchLab-logo-white.svg" alt="" class="logo"></a></div>
              </div>
            </div>
          </div>


          <div class="hidden-menu">
            <div class="close-btn">
              close <img src="/static/images/close.svg" alt="">
            </div>
            <div class="right">
              <ul>
                <li><a href="#">Features</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="#">Help</a></li>
              </ul>
              <a href="/login" class="button-header"><span><img src="/static/images/power-button-off.svg" alt=""></span>Login</a>
            </div>
          </div>
        </header>
        <header>
          <div class="container-fluid">
            <div class="row">
              <div class="col-10 offset-md-1">
                <div class="header-wrap">
                  <div class="left"><a href="/"><img src="/static/images/MerchLab-logo-white.svg" alt="" class="logo"></a></div>
                    <div class="right">
                      <ul>
                        <li><a href="#">Features</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="#">Help</a></li>
                      </ul>
                      <a href="/login" class="button-header"><span><img src="/static/images/power-button-off.svg" alt=""></span>Login</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </header>

        <div class="col-10 offset-md-1">
          <div class="top-title-row">
            <p class="top-title fadeIn wow"  data-wow-duration="0.4s">Merchlab Pricing Plan</p>
            <p class="top-subtitle fadeIn wow"  data-wow-duration="0.4s" data-wow-delay="0.3s"><_Free for 14 days…</p>
          </div>
          <div class="row">
            <div class="col-6">
              <a href="/register/merchlab_basic/"><div class="p-card fadeIn wow"  data-wow-duration="0.7s" data-wow-delay="0.7s">
                <p class="title">Monthly</p>
                <p class="subtitle">Core Jungle Scout for Sellers that are gearing up for greatness!</p>
                <div class="products">
                  Track 80 Products
                </div>
                <ul>
                  <li>
                    <img src="/static/images/Group.svg" alt="">
                    Create and customize condition notes across multiple product categories
                  </li>
                  <li>
                    <img src="/static/images/Group.svg" alt="">
                    Access to all FBA warehouse codes before you ship
                  </li>
                  <li>
                    <img src="/static/images/Group.svg" alt="">
                    Replenish Items on the fly
                  </li>
                  <li>
                    <img src="/static/images/Group.svg" alt="">
                    See active inventory items & inventory health analytics and insights
                  </li>
                </ul>
                <div class="p-card-footer">$ 24 / <span>month</span></div>
              </div></a>
            </div>
            <div class="col-6 fadeIn wow"  data-wow-duration="0.7s" data-wow-delay="1.4s">
              <a href="/register/merchlab_basic_annual/"><div class="p-card last">
                <p class="title">Annual</p>
                <p class="subtitle">Core Jungle Scout for Sellers that are gearing up for greatness!</p>
                <div class="products">
                  Track 80 Products
                </div>
                <ul>
                  <li>
                    <img src="/static/images/Group.svg" alt="">
                    Create and customize condition notes across multiple product categories
                  </li>
                  <li>
                    <img src="/static/images/Group.svg" alt="">
                    Access to all FBA warehouse codes before you ship
                  </li>
                  <li>
                    <img src="/static/images/Group.svg" alt="">
                    Replenish Items on the fly
                  </li>
                  <li>
                    <img src="/static/images/Group.svg" alt="">
                    See active inventory items & inventory health analytics and insights
                  </li>
                </ul>
                <div class="p-card-footer">$ 240 / <span>Annual</span></div>
                <div class="p-badge">
                  steal two months<br>
                  from us!
                </div>
              </div></a>
            </div>
          </div>
        </div>
      </section>
      
      <footer>
        <div class="container-fluid">
          <div class="col-10 offset-md-1">
            <div class="footer-wrap">
              <div class="left">
                <a href="/"><img src="/static/images/MerchLab-logo-white.svg" alt="" class="logo"></a>
                <div class="right show-mobile">
                  <a href="#"><i class="fab fa-youtube youtube"></i></a>
                  <a href="#"><i class="fab fa-instagram instagram"></i></a>
                  <a href="#"><i class="fab fa-facebook-f facebook"></i></a>
                  <a href="#"><i class="fab fa-twitter twitter"></i></a>
                </div>
                <ul class="hide-mobile">
                  <li><a href="">Features</a></li>
                  <li><a href="">Pricing</a></li>
                  <li><a href="">Help</a></li>
                </ul>
              </div>
              <div class="right hide-mobile">
                <a href="#"><i class="fab fa-youtube youtube"></i></a>
                <a href="#"><i class="fab fa-instagram instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f facebook"></i></a>
                <a href="#"><i class="fab fa-twitter twitter"></i></a>
              </div>
              <ul class="show-mobile">
                <li><a href="">Features</a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="">Help</a></li>
              </ul>
            </div>
            <div class="footer-wrap">
              <div class="left">All rights reserved. 2018</div>
              <div class="right">Made with love in USA</div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Scripts -->
      <script src="/static/scripts/vendor.min.js"></script>
      <script src="/static/scripts/main.js"></script>
    </body>
</html>
