<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- styles -->
        <link rel="stylesheet" href="/static/styles/vendor.min.css"/>
        <link rel="stylesheet" href="/static/styles/main.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
    <body>
      <div class="main-form register">
        <div class="container">
          <div class="row">
            <div class="col-10 offset-md-1">
              <div class="logo"><img src="dist/img/logo2.svg" alt=""></div>
              <div class="f-card">
                <p class="title">Please Register</p>
                <p class="subtitle">Just a few details away from amazing research<br>
                 data for Merch By Amazon!</p>
                 <div class="inline-row">
                   <div class="f-container">
                     <label for="#">Username</label>
                     <div class="f-row">
                       <input type="text" placeholder="username">
                       <i class="far fa-user-circle"></i>
                     </div>
                   </div>
                   <div class="f-container">
                     <label for="#">Email Address</label>
                     <div class="f-row">
                       <input type="text" placeholder="email address">
                       <i class="far fa-envelope"></i>
                     </div>
                   </div>
                 </div>


                 <div class="inline-row">
                   <div class="f-container">
                     <label for="#">Password</label>
                     <div class="f-row">
                       <input type="password" placeholder="Password">
                       <i class="fas fa-lock"></i>
                     </div>
                   </div>
                   <div class="f-container">
                     <label for="#">Confirm Password</label>
                     <div class="f-row">
                       <input type="password" placeholder="Password">
                       <i class="fas fa-lock"></i>
                     </div>
                   </div>
                 </div>




                 <div class="inline-row cards-n">
                   <div class="f-container card-n">
                     <label for="#">Card Number</label>
                     <div class="f-row">
                       <input type="number" placeholder="3452 3452 3452 3452">
                       <i class="far fa-credit-card"></i>
                     </div>
                   </div>
                   <div class="card-secondary">
                     <div class="f-container date">
                       <label for="#">Exp Month</label>
                       <div class="f-row without-icon">
                         <input type="number" placeholder="05">
                       </div>
                     </div>
                     <div class="f-container date">
                       <label for="#">Exp Year</label>
                       <div class="f-row without-icon">
                         <input type="number" placeholder="2020">
                       </div>
                     </div>
                     <div class="f-container date">
                       <label for="#">CVV/CVV2</label>
                       <div class="f-row without-icon">
                         <input type="number" placeholder="000">
                       </div>
                     </div>
                   </div>
                 </div>
                 <a href="" class="button dark">REGISTER</a>
                 <a href="" class="new-account">Already a member? <span class="bold">Click to Login.</span></a>

              </div>
            </div>
          </div>
        </div>
        <div class="copyright">
          2018 Copyright <span>MERCHLAB</span>.
        </div>
      </div>
      <!-- Scripts -->
      <script src="/static/scripts/vendor.min.js"></script>
      <script src="/static/scripts/main.js"></script>
    </body>
</html>
