{% extends "layout.html" %}



{% block body %}
<link rel="stylesheet" href="/static/vendor/sweetalert/lib/sweet-alert.css" />
<script src="/static/vendor/sweetalert/lib/sweet-alert.min.js"></script>

<style>


    /* Loader 1 */
    /* Courtesy of Flat UI CSS Loaders: http://codepen.io/nodealpha/pen/WvLrva */
    .loader-1 {
      position: relative;
      width: 120px;
      height: 120px;
      display: inline-flex;
      background-color: transparent;
      border: 5px solid #ECEFF1;
      border-radius: 50%;
    }
    .loader-1:after {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      width: 110px;
      height: 110px;
      padding: 3px;
      border-width: 2px;
      border-style: solid;
      border-color: #7986CB transparent transparent transparent;
      border-radius: 50%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      animation: ringrotate .8s infinite ease-in-out;
      -webkit-animation: ringrotate .8s infinite ease-in-out;
    }
    /* #Loader 1 */

    /* Animation */
    @keyframes ringrotate {
      0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
      }
    }
    @-webkit-keyframes ringrotate {
      0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
      }
    }

    @keyframes pendulum {
      0% {
        transform: rotateZ(-20deg);
        -webkit-transform: rotateZ(-20deg);
      }
      100% {
        transform: rotateZ(20deg);
        -webkit-transform: rotateZ(20deg);
      }
    }
    @-webkit-keyframes pendulum {
      0% {
        transform: rotateZ(-20deg);
        -webkit-transform: rotateZ(-20deg);
      }
      100% {
        transform: rotateZ(20deg);
        -webkit-transform: rotateZ(20deg);
      }
    }
    /* #Animation */

</style>

<!-- Main Wrapper -->
<div id="wrapper">
    <div class="modal fade" id="loading-modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
     
              <div class="modal-body text-center">
                <br>
                <img src="/static/images/accelerlist.png" style="height:25px; margin-top:-8px; margin-right:10px;">           
                <h3>Loading Inventory...</h3>
            <div class="loader-1"></div>

              </div>
          </div>
        </div>
    </div>
    <div id="content"></div>

</div>

<!-- Vendor scripts -->
<script src="/static/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="https://npmcdn.com/react@15.3.0/dist/react.js"></script>
<script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js"></script>
<script src="/static/js/browser.min.js"></script>

<!-- App scripts -->
<script src="/static/scripts/homer.js"></script>


<script type="text/babel">
    var StrategyPage = React.createClass({
        getInitialState: function() {
            return {
                strategies: [],
                filter: "Open",
                loaded: false,
                query: ""
            }
        },
        componentDidMount: function() {
            console.log("mounted")
            $.get("/load_strategies/", function(result) {
                console.log(result);
                this.setState({
                    strategies: JSON.parse(result),
                    loaded: true
                })
            }.bind(this));
        },
        setFilter: function(filter) {
            this.setState({
                filter: filter
            })
        },

        updateQuery: function(event) {
            this.setState({
                query: event.target.value
            })
        },

        showNewstrategyModal: function() {
            $("#new-strategy-modal").modal('show');
        },

        delete: function(strategyId, confirmed) {
            if (!confirmed) {
                swal({
                  title: "Are you sure?",
                  text: "You will not be able to reopen the strategy!",
                  type: "warning",
                  showCancelButton: true,
                  confirmButtonColor: "#DD6B55",
                  confirmButtonText: "Yes, delete it!",
                  closeOnConfirm: true
                }, function() {
                    this.delete(strategyId, true);
                }.bind(this));
            } else {
                console.log(strategyId);
                var strategies = this.state.strategies;
                strategies = strategies.map(function(strategy){
                    if (strategy.strategyId === strategyId) {
                        strategy.status = "Deleted";
                    } 
                    return strategy;
                })
                $.post("/strategy/" + strategyId + "/delete_strategy/", function(result) {
                    console.log(result);
                    this.setState({
                        strategies: strategies,
                        loaded: true
                    })
                }.bind(this));
                toastr.success("The strategy has been deleted!");

            }
        },
        render: function() {
            var strategyNodes;
            if (!this.state.loaded) {
                strategyNodes = (
                    <div className="text-center">
                        <div className="loader-1"></div>
                    </div>
                )
            } else {
                if (this.state.strategies.length == 0) {
                    strategyNodes = (
                        <div className="hpanel">
                            <div className="panel-body">
                                <h3>No strategies have been created yet!</h3>
                                <p>Once a strategy is created, you can start listing items to that strategy to queue for uploading to Amazon. Click <a href="#a" onClick={this.showNewstrategyModal}>here</a> to create a new strategy.</p>
                            </div>
                        </div>
                    )
                } else {
                    strategyNodes = this.state.strategies.map(function(strategy) {
                        if (!strategy.strategyName || strategy.strategyName.toLocaleLowerCase().indexOf(this.state.query.toLocaleLowerCase()) == -1) {
                            return (
                                <div />
                            )
                        }

                        if (strategy.status == "Complete" && (this.state.filter == "Complete" || this.state.filter == "All")) {
                            return (
                                <div className="col-sm-3">
                                    <div className="hpanel hgreen contact-panel">
                                        <div className="panel-body">
                                            <a href={"/strategy/" + strategy.objectId + "/"}><h5 className="text-muted font-bold m-b-xs">{strategy.strategyName.slice(0, 25)}<br /><small >{strategy.workflowType} Workflow</small></h5></a>
                                            <hr />
                                            <div className="text-muted font-bold m-b-xs">Last Saved on <span className="font-light m-b-xs">{strategy.updatedAt}</span></div>
                                            <br />
                                            <p>Status:<span className="label label-success margin-left ">Complete</span></p>

                                        </div>
                                        <div className="panel-footer contact-footer">
                                            <div className="row">
                                                <div className="col-md-4 border-right"> <div className="contact-stat"><span>SKUs: </span> <strong>{strategy.scanned}</strong></div> </div>
                                                <div className="col-md-4 border-right"> <div className="contact-stat"><span>Profit: </span> <strong>${strategy.profit}</strong></div> </div>
                                                <div className="col-md-4"> <div className="contact-stat"><span>Cost: </span> <strong>${strategy.cost}</strong></div> </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            )
                        } else if (strategy.status == "In Progress" && (this.state.filter == "Open" || this.state.filter == "All") ) {
                            return (
                                <div className="col-lg-3">
                                    <div className="hpanel hyellow contact-panel">
                                        <div className="panel-body">
                                            <a href={"/strategy/" + strategy.objectId + "/"}><h5 className="text-muted font-bold m-b-xs">{strategy.strategyName.slice(0, 25)}<br /><small >{strategy.workflowType} Workflow</small></h5></a>

                                            <hr />
                                            <div className="text-muted font-bold m-b-xs">Last Saved on <span className="font-light m-b-xs">{strategy.updatedAt}</span></div>
                                            <div style={ {"height": "50px", "overflow": "hidden"} }>
                                                <div className="text-muted font-bold m-b-xs">Shipping From <span className="font-light m-b-xs">{strategy.address && strategy.address.addressName ? strategy.address.addressName : "N/A"}</span></div>
                                            </div>
                                            <p>Status:<span className="label label-warning margin-left margin-right">In Progress</span><a href="#a" onClick={this.delete.bind(null,strategy.strategyId,false)}>[DELETE]</a></p>
                                        </div>

                                        <div className="panel-footer contact-footer">
                                            <div className="row">
                                                <div className="col-md-4 border-right"> <div className="contact-stat"><span>SKUs: </span> <strong>{strategy.scanned}</strong></div> </div>
                                                <div className="col-md-4 border-right"> <div className="contact-stat"><span>Profit: </span> <strong>${strategy.profit}</strong></div> </div>
                                                <div className="col-md-4"> <div className="contact-stat"><span>Cost: </span> <strong>${strategy.cost}</strong></div> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            )
                        } else if (strategy.status == "Deleted" && (this.state.filter == "Deleted" || this.state.filter == "All") ) {
                            return (
                                <div className="col-lg-3">
                                    <a href={"/strategy/" + strategy.objectId + "/"}><div className="hpanel hred contact-panel" >
                                        <div className="panel-body">
                                            <h5 className="text-muted font-bold m-b-xs">{strategy.strategyName.slice(0, 25)}<br /><small >{strategy.workflowType} Workflow</small></h5>
                                            <hr />
                                            <div className="text-muted font-bold m-b-xs">Last Saved on <span className="font-light m-b-xs">{strategy.updatedAt}</span></div>
                                            <div style={ {"height": "50px", "overflow": "hidden"} }>
                                                <div className="text-muted font-bold m-b-xs">Shipping From <span className="font-light m-b-xs">{strategy.address && strategy.address.addressName ? strategy.address.addressName : "N/A"}</span></div>
                                            </div>
                                            <p>Status:<span className="label label-danger margin-left">Deleted</span></p>

                                        </div>

                                        <div className="panel-footer contact-footer">
                                            <div className="row">
                                                <div className="col-md-4 border-right"> <div className="contact-stat"><span>SKUs: </span> <strong>{strategy.scanned}</strong></div> </div>
                                                <div className="col-md-4 border-right"> <div className="contact-stat"><span>Profit: </span> <strong>${strategy.profit}</strong></div> </div>
                                                <div className="col-md-4"> <div className="contact-stat"><span>Cost: </span> <strong>${strategy.cost}</strong></div> </div>

                                            </div>
                                        </div>
                                    </div></a>
                                </div>
                            )
                        }
                        
                    }.bind(this));                       
                }
             
            }

            return (
                <div className="content animate-panel">
                    <div className="row">
                        <div className="col-lg-12">
                            <div className="hpanel">
                                <div className="panel-body">

                                    <h2 className="font-light m-b-xs">
                                        Your Strategies
                                    </h2>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div className="row">
                        <div className="col-lg-12">
                            {strategyNodes}
                        </div>
                    </div>
                </div>
            )
     

        }
    })
    ReactDOM.render(<StrategyPage />, document.getElementById("content"))
</script>


</body>
</html>

{% endblock %}