{% extends "layout.html" %}



{% block body %}
<link rel="stylesheet" href="/static/vendor/sweetalert/lib/sweet-alert.css" />
<script src="/static/vendor/sweetalert/lib/sweet-alert.min.js"></script>

<style>


    /* Loader 1 */
    /* Courtesy of Flat UI CSS Loaders: http://codepen.io/nodealpha/pen/WvLrva */
    .loader-1 {
      position: relative;
      width: 120px;
      height: 120px;
      display: inline-flex;
      background-color: transparent;
      border: 5px solid #ECEFF1;
      border-radius: 50%;
    }
    .loader-1:after {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      width: 110px;
      height: 110px;
      padding: 3px;
      border-width: 2px;
      border-style: solid;
      border-color: #7986CB transparent transparent transparent;
      border-radius: 50%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      animation: ringrotate .8s infinite ease-in-out;
      -webkit-animation: ringrotate .8s infinite ease-in-out;
    }
    /* #Loader 1 */

    /* Animation */
    @keyframes ringrotate {
      0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
      }
    }
    @-webkit-keyframes ringrotate {
      0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
      }
    }

    @keyframes pendulum {
      0% {
        transform: rotateZ(-20deg);
        -webkit-transform: rotateZ(-20deg);
      }
      100% {
        transform: rotateZ(20deg);
        -webkit-transform: rotateZ(20deg);
      }
    }
    @-webkit-keyframes pendulum {
      0% {
        transform: rotateZ(-20deg);
        -webkit-transform: rotateZ(-20deg);
      }
      100% {
        transform: rotateZ(20deg);
        -webkit-transform: rotateZ(20deg);
      }
    }
    /* #Animation */

</style>

<!-- Main Wrapper -->
<div id="wrapper">
    <div class="modal fade" id="loading-modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
     
              <div class="modal-body text-center">
                <br>
                <img src="/static/images/accelerlist.png" style="height:25px; margin-top:-8px; margin-right:10px;">           
                <h3>Loading Inventory...</h3>
            <div class="loader-1"></div>

              </div>
          </div>
        </div>
    </div>
    <div id="content">

        <div class="normalheader transition animated fadeIn">
            <div class="hpanel">
                <div class="panel-body">

                    <h2 class="font-light m-b-xs" style="font-family:Open Sans; font-weight:300">
                        Strategy Overview
                    </h2>
                    <small>Up to date information about your current active strategy.</small>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            <span style="margin-left:10px">Active Strategy</span>
                        </div>
                        <div class="panel-body">
                            <div class="row ">
                                <div class="col-lg-4  text-center">
                                    <p><b>Name</b>: Main Strategy For Books</p>
                                    <p><b>Last Edit</b>: 08/08/2017 8:00PM</p>
                                    <p><b>Last Reprice</b>: 08/24/2017 8:00PM</p>
                                    <br />
                                    <button class="btn btn-small btn-primary" style="margin-bottom:10px">Strategy Dashboard</button>

                                </div>
                                <div class="col-lg-8 border-left">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p style="font-family:Open Sans; font-weight:300">-<a>4 items</a> in the Buy Box (Woohoo!)</h3>
                                            <p style="font-family:Open Sans; font-weight:300">-<a>80 items</a> dropped in price on last reprice</h3>
                                            <p style="font-family:Open Sans; font-weight:300">-<a>16 items</a> increased in price on last reprice</h3>
                                        </div>
                                        <div class="col-lg-6">
                                            <p style="font-family:Open Sans; font-weight:300">-<a>16 items</a> set to their mins on last reprice</h3>
                                            <p style="font-family:Open Sans; font-weight:300">-<a>42 items</a> set to their maxes on last reprice</h3>
                                            <p style="font-family:Open Sans; font-weight:300">-<a>4000 items</a> unmodified on last reprice</h3>
                                        </div>    
                                    </div>
                                    <hr />
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">TURN OFF</button>
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">REPRICE NOW</button>
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">EDIT TEMPLATES</button>
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">EDIT SCHEDULES</button>
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">REPRICE REPORTS</button>


                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="normalheader transition animated fadeIn">
            <div class="hpanel">
                <div class="panel-body">

                    <h2 class="font-light m-b-xs" style="margin:0px; font-family:Open Sans; font-weight:300">
                        Inactive Strategies
                    </h2>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            <span style="margin-left:10px">Strategy: Low Ball Strategy</span>
                        </div>
                        <div class="panel-body">
                            <div class="row ">
                                <div class="col-lg-6  text-center">
                                    <p><b>Name</b>: Main Strategy For Books</p>
                                    <p><b>Last Edit</b>: 08/08/2017 8:00PM</p>
                                    <p><b>Last Reprice</b>: 08/24/2017 8:00PM</p>
                                    <button class="btn btn-small btn-primary" style="margin-bottom:10px">SET AS ACTIVE STRATEGY</button>

                                </div>
                                <div class="col-lg-6 border-left text-center">
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">EDIT TEMPLATES</button>
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">EDIT SCHEDULES</button>
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">REPRICE REPORTS</button>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            <span style="margin-left:10px">Strategy: Low Ball Strategy</span>
                        </div>
                        <div class="panel-body">
                            <div class="row ">
                                <div class="col-lg-6  text-center">
                                    <p><b>Name</b>: Main Strategy For Books</p>
                                    <p><b>Last Edit</b>: 08/08/2017 8:00PM</p>
                                    <p><b>Last Reprice</b>: 08/24/2017 8:00PM</p>
                                    <button class="btn btn-small btn-primary" style="margin-bottom:10px">SET AS ACTIVE STRATEGY</button>

                                </div>
                                <div class="col-lg-6 border-left text-center">
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">EDIT TEMPLATES</button>
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">EDIT SCHEDULES</button>
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">REPRICE REPORTS</button>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            <span style="margin-left:10px">Strategy: Low Ball Strategy</span>
                        </div>
                        <div class="panel-body">
                            <div class="row ">
                                <div class="col-lg-6  text-center">
                                    <p><b>Name</b>: Main Strategy For Books</p>
                                    <p><b>Last Edit</b>: 08/08/2017 8:00PM</p>
                                    <p><b>Last Reprice</b>: 08/24/2017 8:00PM</p>
                                    <button class="btn btn-small btn-primary" style="margin-bottom:10px">SET AS ACTIVE STRATEGY</button>

                                </div>
                                <div class="col-lg-6 border-left text-center">
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">EDIT TEMPLATES</button>
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">EDIT SCHEDULES</button>
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">REPRICE REPORTS</button>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="hpanel">
                        <div class="panel-heading hbuilt">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            <span style="margin-left:10px">Strategy: Low Ball Strategy</span>
                        </div>
                        <div class="panel-body">
                            <div class="row ">
                                <div class="col-lg-6  text-center">
                                    <p><b>Name</b>: Main Strategy For Books</p>
                                    <p><b>Last Edit</b>: 08/08/2017 8:00PM</p>
                                    <p><b>Last Reprice</b>: 08/24/2017 8:00PM</p>
                                    <button class="btn btn-small btn-primary" style="margin-bottom:10px">SET AS ACTIVE STRATEGY</button>

                                </div>
                                <div class="col-lg-6 border-left text-center">
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">EDIT TEMPLATES</button>
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">EDIT SCHEDULES</button>
                                    <button class="btn btn-small btn-default" style="margin-bottom:10px">REPRICE REPORTS</button>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>

</div>

<!-- Vendor scripts -->
<script src="/static/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="https://npmcdn.com/react@15.3.0/dist/react.js"></script>
<script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js"></script>
<script src="/static/js/browser.min.js"></script>

<!-- App scripts -->
<script src="/static/scripts/homer.js"></script>



</body>
</html>

{% endblock %}