{% extends "layout.html" %}



{% block body %}
<link rel="stylesheet" href="/static/vendor/sweetalert/lib/sweet-alert.css" />
<script src="/static/vendor/sweetalert/lib/sweet-alert.min.js"></script>
<link rel="stylesheet" href="/static/vendor/rc-time-picker/assets/index.css" />

<style>


    /* Loader 1 */
    /* Courtesy of Flat UI CSS Loaders: http://codepen.io/nodealpha/pen/WvLrva */
    .loader-1 {
      position: relative;
      width: 120px;
      height: 120px;
      display: inline-flex;
      background-color: transparent;
      border: 5px solid #ECEFF1;
      border-radius: 50%;
    }
    .loader-1:after {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      width: 110px;
      height: 110px;
      padding: 3px;
      border-width: 2px;
      border-style: solid;
      border-color: #7986CB transparent transparent transparent;
      border-radius: 50%;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      animation: ringrotate .8s infinite ease-in-out;
      -webkit-animation: ringrotate .8s infinite ease-in-out;
    }
    /* #Loader 1 */

    /* Animation */
    @keyframes ringrotate {
      0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
      }
    }
    @-webkit-keyframes ringrotate {
      0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
      }
    }

    @keyframes pendulum {
      0% {
        transform: rotateZ(-20deg);
        -webkit-transform: rotateZ(-20deg);
      }
      100% {
        transform: rotateZ(20deg);
        -webkit-transform: rotateZ(20deg);
      }
    }
    @-webkit-keyframes pendulum {
      0% {
        transform: rotateZ(-20deg);
        -webkit-transform: rotateZ(-20deg);
      }
      100% {
        transform: rotateZ(20deg);
        -webkit-transform: rotateZ(20deg);
      }
    }
    /* #Animation */

    .left-pad {
        padding-left:10px;
    }

    .modal-header {
        padding:20px;
    }


    .margin-right {
        margin-right:5px;
    }


</style>

<!-- Main Wrapper -->
<div id="wrapper">

    <div id="content">

        <div class="normalheader transition animated fadeIn">
            <div class="hpanel">
                <div class="panel-body">

                    <h2 class="font-light m-b-xs" style="font-family:Open Sans; font-weight:300">
                        Strategy Overview
                    </h2>
                    <small>Up to date information about your current active strategy.</small>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <div id="template-viewer"></div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-7">
                    <div id="reprice-reports-list"></div>
                    <br />
                    <div class="hpanel">
                        <div class="panel-heading hbuilt">
                            <span style="margin-left:10px">Quick SKU Strategy Lookup</span>
                            <hr />
                            <p style="margin-left:10px; font-weight:300; margin-top:3px">Know exactly what our strategy is doing to each of your SKUs.</p>
                            <div class="input-group" style='padding:10px'>
                                <input class="form-control" type="text" placeholder="Search SKUs..">
                                <div class="input-group-btn">
                                    <button class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="col-lg-5">
                    <div id="schedule-viewer"></div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<!-- Vendor scripts -->
<script src="/static/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/vendor/metisMenu/dist/metisMenu.min.js"></script>

<!-- App scripts -->
<script src="/static/scripts/homer.js"></script>
<script src="/static/bundle/strategy.js"></script>


<script>
function openNewTemplateModal() {
    $("#new-template-modal").modal('show');
}
</script>

</body>
</html>

{% endblock %}