{% extends "layout.html" %}

{% block body %}

<link rel="stylesheet" href="/static/vendor/sweetalert/lib/sweet-alert.css" />


<!-- Main Wrapper -->
<div id="wrapper">


<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="hpanel">
                <div class="panel-body float-e-margins">
                    <h3>Update Password</h3>
                    <hr>


                    <div class="form-group">
                        <label class="control-label" for="password">Old Password</label>
                        <input type="password" id="old"  title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control input-sm">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="password">New Password</label>
                        <input type="password" id="new" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control input-sm">
                    </div>

                    <div class="form-group">
                        <label class="control-label"for="password">Confirm Password</label>
                        <input type="password" id="confirm" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control input-sm">
                    </div>
                    <br>           
                    <hr>
                    <div class="text-center">            
                        <button class="btn btn-info" onClick="updatePassword()">
                            Update Password
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Vendor scripts -->
<script src="/static/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="/static/vendor/iCheck/icheck.min.js"></script>
<script src="/static/vendor/sparkline/index.js"></script>
<script src="/static/vendor/jquery-payments/jquery.payment.min.js"></script>
<script src="/static/vendor/sweetalert/lib/sweet-alert.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<!-- App scripts -->
<script src="/static/scripts/homer.js"></script>



</body>
</html>

{% endblock %}
