{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="/static/vendor/lazyYT/lazyYT.css" />


<style>
.dropzone-component {
    width:100%;
    border:1px dashed #aaa;
    padding:20px;
}

.dropzone-component-active {
    width:100%;
    border:1px dashed green;
    padding:20px;
}

</style>



<!-- Main Wrapper -->
<div id="wrapper">

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <h3 style="margin-top:0px; margin-bottom:0px; font-weight:300; font-family: 'Open Sans'">Upload Manager</h3>
        </div>
    </div>
    <br />
    <div class="hpanel">
        <div class="panel-body">
            <div id="root"></div>
        </div>
    </div>
</div>


<!-- Vendor scripts -->
<script src="/static/vendor/jquery/dist/jquery.min.js"></script>
<script src="/static/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/static/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="/static/vendor/iCheck/icheck.min.js"></script>
<script src="/static/vendor/sparkline/index.js"></script>
<script type="text/javascript" src="/static/js/lazyYT.js"></script>
<script type="text/javascript" src="/static/bundle/index.js"></script>


<!-- App scripts -->
<script src="/static/scripts/homer.js"></script>

<script>
$(document).ready(function() {
    $('.js-lazyYT').lazyYT();
});
</script>

</body>
</html>

{% endblock %}
